{% extends 'shop/public/header.html' %}
{% block link %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>购物车详情</title>
<link href="/static/shop/css/shopping.css" rel='stylesheet' type='text/css' />
<link href="/static/shop/css/shopcart.css" rel='stylesheet' type='text/css' />
</head>
{% endblock %}

{% block content %}

<div class="cart">
<div class="cart1">
  <div class="cart1-right"><img src="/static/shop/images/bag1.png" />我的购物车/5件商品</div>
  <div class="cart1-left "><img src="/static/shop/images/art1.png" />喜爱收藏的商品</div>
</div>
<div class="cart2">
<div class="cart2-left"> <img src="/static/shop/images/choose1.jpg" width="105px" height="142px" /> </div>
<div class="cart2-middle">
  <h4> <a href="">2014春秋装新款女装长袖针织衫女秋冬韩版外搭毛衣厚大码开衫外套</a></h4>
  <p> 选择你喜欢的颜色</p>
  <form>
    <input type="checkbox" name="颜色" value="color 1" />
    明黄色
    <input type="checkbox" name="颜色" value="color2" />
    湖蓝色
    <input type="checkbox" name="颜色" value="color3" />
    浅绿色
    <input type="checkbox" name="颜色" value="color4" />
    大红色
    <input type="checkbox" name="颜色" value="color5" />
    粉红色
    <input type="checkbox" name="颜色" value="color6" />
    橙子色
  </form>
  <p>你选择的尺码：M码|订单编号：54133131010</p>
  <div class="middle-pic">
    <div class="middle-pic1"><img src="/static/shop/images/s_icon1.png" /></div>
    <div class="middle-pic2"><img src="/static/shop/images/s_icon2.png" /></div>
    <div class="middle-pic3"><img src="/static/shop/images/s_icon3.png"  /></div>
  </div>
  <div class="cart2-right">
    <p>优惠：9月特惠到10.1 全国满199包邮</p>
    <p>促销：会员享受8折优惠</p>
    <p>价格：<strong>8折限时优惠￥299</strong></p>
    <div class="pay"><a href="/myorder">立刻购买&gt;</a></div>
  </div>
</div>
<br />
<div class="cart3">
<div class="cart2-left"> <img src="/static/shop/images/choose2.jpg" width="105px" height="142px" /> </div>
<div class="cart2-middle">
  <h4> <a href="">女神的新衣Nana林珍娜同款预售伊芙丽2014新款马甲套装一起更优惠</a></h4>
  <p> 选择适合你的尺码和颜色</p>
  <form>
    <input type="checkbox" name="颜色" value="color 1" />
    大红色
    <input type="checkbox" name="颜色" value="color2" />
    湖蓝色
    <input type="checkbox" name="颜色" value="color3" />
    浅绿色
    <input type="checkbox" name="颜色" value="color4" />
    S码
    <input type="checkbox" name="颜色" value="color5" />
    M码
    <input type="checkbox" name="颜色" value="color6" />
    L码
  </form>
  <p>你选择的尺码：M码|订单编号：26833131470</p>
  <div class="middle-pic">
    <div class="middle-pic1"><img src="/static/shop/images/s_icon1.png" /></div>
    <div class="middle-pic2"><img src="/static/shop/images/s_icon2.png" /></div>
    <div class="middle-pic3"><img src="/static/shop/images/s_icon3.png"  /></div>
  </div>
  <div class="cart2-right">
    <p>优惠：9月特惠到10.1 全国满199包邮</p>
    <p>促销：会员享受8折优惠</p>
    <p>价格：<strong>8折限时优惠￥399</strong></p>
    <div class="pay"><a href="">立刻购买&gt;</a></div>
  </div>
</div>
<div class="cart4">
<div class="cart2-left"> <img src="/static/shop/images/choose3.jpg" width="105px" height="142px" /> </div>
<div class="cart2-middle">
  <h4> <a href="">预售女神的新衣 ASOBIO 2014 尚雯婕明星同款优雅修身礼服连衣裙</a></h4>
  <p> 选择你喜欢的颜色</p>
  <form>
    <input type="checkbox" name="颜色" value="color 1" />
    明黄色
    <input type="checkbox" name="颜色" value="color2" />
    湖蓝色
    <input type="checkbox" name="颜色" value="color3" />
    浅绿色
    <input type="checkbox" name="颜色" value="color4" />
    大红色
    <input type="checkbox" name="颜色" value="color5" />
    粉红色
    <input type="checkbox" name="颜色" value="color6" />
    橙子色
  </form>
  <p>你选择的尺码：M码|订单编号：76133131036</p>
  <div class="middle-pic">
    <div class="middle-pic1"><img src="/static/shop/images/s_icon1.png" /></div>
    <div class="middle-pic2"><img src="/static/shop/images/s_icon2.png" /></div>
    <div class="middle-pic3"><img src="/static/shop/images/s_icon3.png"  /></div>
  </div>
  <div class="cart2-right">
    <p>优惠：9月特惠到10.1 全国满199包邮</p>
    <p>促销：会员享受8折优惠</p>
    <p>价格：<strong>8折限时优惠￥699</strong></p>
    <div class="pay"><a href="">立刻购买&gt;</a></div>
  </div>
</div>
<div class="cart5">
  <div class="cart2-left"> <img src="/static/shop/images/choose4.jpg" width="105px" height="142px" /> </div>
  <div class="cart2-middle">
    <h4> <a href="">女神的新衣 ASOBIO 尚雯婕同款 2014秋装 立体花宽松字母长袖卫衣</a></h4>
    <p> 选择你喜欢的颜色</p>
    <form>
      <input type="checkbox" name="颜色" value="color 1" />
      明黄色
      <input type="checkbox" name="颜色" value="color2" />
      湖蓝色
      <input type="checkbox" name="颜色" value="color3" />
      浅绿色
      <input type="checkbox" name="颜色" value="color4" />
      大红色
      <input type="checkbox" name="颜色" value="color5" />
      粉红色
      <input type="checkbox" name="颜色" value="color6" />
      橙子色
    </form>
    <p>你选择的尺码：M码|订单编号：54133131010</p>
    <div class="middle-pic">
      <div class="middle-pic1"><img src="/static/shop/images/s_icon1.png" /></div>
      <div class="middle-pic2"><img src="/static/shop/images/s_icon2.png" /></div>
      <div class="middle-pic3"><img src="/static/shop/images/s_icon3.png"  /></div>
    </div>
    <div class="cart2-right">
      <p>优惠：9月特惠到10.1 全国满199包邮</p>
      <p>促销：会员享受8折优惠</p>
      <p>价格：<strong>8折限时优惠￥299</strong></p>
      <div class="pay"><a href="">立刻购买&gt;</a></div>
    </div>
  </div>
  <div class="cart6">
    <div class="cart2-left"> <img src="/static/shop/images/choose5.jpg" width="105px" height="142px" /> </div>
    <div class="cart2-middle">
      <h4> <a href="">2014秋冬上新 秋季新款女装 简约撞色 呢子大衣 中长款橙毛呢外套</a></h4>
      <p> 选择你喜欢的颜色</p>
      <form>
        <input type="checkbox" name="颜色" value="color 1" />
        明黄色
        <input type="checkbox" name="颜色" value="color2" />
        湖蓝色
        <input type="checkbox" name="颜色" value="color3" />
        浅绿色
        <input type="checkbox" name="颜色" value="color4" />
        大红色
        <input type="checkbox" name="颜色" value="color5" />
        粉红色
        <input type="checkbox" name="颜色" value="color6" />
        橙子色
      </form>
      <p>你选择的尺码：M码|订单编号：341447819210</p>
      <div class="middle-pic">
        <div class="middle-pic1"><img src="/static/shop/images/s_icon1.png" /></div>
        <div class="middle-pic2"><img src="/static/shop/images/s_icon2.png" /></div>
        <div class="middle-pic3"><img src="/static/shop/images/s_icon3.png"  /></div>
      </div>
      <div class="cart2-right">
        <p>优惠：9月特惠到10.1 全国满199包邮</p>
        <p>促销：会员享受8折优惠</p>
        <p>价格：<strong>8折限时优惠￥199</strong></p>
        <div class="pay"><a href="">立刻购买&gt;</a></div>
      </div>
    </div>
    <br />
    <br />
    <div class="cart7">
      <div class="cart7-left"><a href="">商品付款></a></div>
      <div class="cart7-right"><a href="">总计：￥1895</a></div>
    </div>
  </div>
  <br />
  <br />
{% endblock %}