{% extends 'shop/public/header.html' %}
{% block content %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>商品细节</title>
<link href="/static/shop/css/details.css" rel='stylesheet' type='text/css' />
<link href="/static/shop/css/shopping.css" rel='stylesheet' type='text/css' />
<script type="text/javascript" src="/static/shop/script/detail.js"></script>
<link rel="start icon" href="/static/shop/images/resize_png_new.png"  >
</head>

<div class="menu">
  <div class="menu-left">
    <div class="menu-A1">
      <div class="menu-a1"> <img class="imgbig" src="{{detail.pic_path}}" width="300" height="400" /> </div>
      <div class="menu-a11"> <img src="/static/shop/images/d2.jpg"  width="80" height="95"/>
      <img src="/static/shop/images/d3.jpg" width="80" height="95" />
       <img src="/static/shop/images/d4.jpg"  width="80" height="95"/> </div>
    </div>
    <div class="menu-A2">
      <div class="menu-a2">
        <h3>{{detail.brand}} {{detail.gname}}</h3>
        <h1>{{detail.price}}</h1>
      </div>

      <div class="menu-a3">
        <h4>你可能喜欢的款式：</h4>
        <img  class="img1" src="/static/shop/images/w3.jpg" width="100px" height="125px" />
        <img class="img1" src="/static/shop/images/w11.jpg" width="100px" height="125px"/>
        <img class="img1" src="/static/shop/images/w2.jpg" width="100px" height="125px" />
        <img  class="img1" src="/static/shop/images/w1.jpg" width="100px" height="125px" />
      </div>
      <div class="menu-a4">
        <form>
          <h4>选择你的尺码：</h4>
          <input group ="size" type="radio" name="尺码" value="XS" />
          XS[155]
          <input group ="size" type="radio" name="尺码" value="S" />
          S[160]&nbsp;&nbsp;
          <input group ="size" type="radio" name="尺码" value="M" />
          M[165]
          <input group ="size" type="radio"  name="尺码"  value="L" />
          &nbsp;
          L[170]</br>
          &nbsp; </br>
          <input tgroup ="size" type="radio" name="尺码"  value="XL" />
          XL[175]
          <input group ="size" type="radio" name="尺码"  value="XXL" />
          XXL[180]
          <input group ="size" type="radio" name="尺码"   value="XXXL" />
          XXXL[185]
        </form>
      </div>
       <input id = 'productId' type="text" value={{detail.id}} style="display:none">
      <div class="menu-a5">
        <button id ="J_btnAddCart" >加入购物车</button>
      </div>
      <div class="menu-a5"  style="margin-top: 8px;">
       <form action="/myorder/" method="GET">
            <input type="text" style="display:none" name="id" value="{{detail.id}}"/>
            <input type="submit" style="background-color: #FC3;color: white;border: none" value="立刻购买">
       </form>
      </div>
    </div>
    <br />
    <br />
    <div class="menu-B">
      <div  class="b">设计灵感 </div>
        {% autoescape off %}
              {{detail.descr}}
        {% endautoescape %}
    </div>
    <div class="menu-C">
      <div class="b">宝贝评论 </div>
      <div class="c1">
              <ul class="select">
                <li class="is-current">
                  <label for="reviews-t-all">
                    <input type="radio" name="J_KgRate_ReviewType" id="reviews-t-all" value="" checked="">
                    全部
                  </label>
                </li>
                <li data-kg-rate-filter-val="3">
                  <label for="reviews-t-val3">
                    <input type="radio" name="J_KgRate_ReviewType" id="reviews-t-val3" value="3">
                    图片
                    <span class="tb-tbcr-num">
                      <span data-kg-rate-stats="pic"></span>
                    </span>
                  </label>
                </li>
                <li data-kg-rate-filter-val="1">
                  <label for="reviews-t-val1">
                    <input type="radio" name="J_KgRate_ReviewType" id="reviews-t-val1" value="1">
                    好评
                    <span class="tb-tbcr-num">
                      <span class="content-regarded" data-kg-rate-stats="good"></span>
                    </span>
                  </label>
                </li>
                <li data-kg-rate-filter-val="0">
                  <label for="reviews-t-val0">
                    <input type="radio" name="J_KgRate_ReviewType" id="reviews-t-val0" value="0">
                    中评
                    <span class="tb-tbcr-num">
                      <span data-kg-rate-stats="neutral"></span>
                    </span>
                  </label>
                </li>
                <li data-kg-rate-filter-val="-1">
                  <label for="reviews-t-val-1">
                    <input type="radio" name="J_KgRate_ReviewType" id="reviews-t-val-1" value="-1">
                    差评
                    <span class="tb-tbcr-num">
                      <span data-kg-rate-stats="bad"></span>
                    </span>
                  </label>
                </li>
              </ul>
              <div>
              <ul class="comment">
                <li id="review" class="kg-rate-ct-review-item" tabindex="0">
                   <div class="from-whom">
                     <img class="avatar" src="//img.alicdn.com/tps/i3/TB1yeWeIFXXXXX5XFXXuAZJYXXX-210-210.png">
                      <div>8***光（匿名）</div>
                      <img src="//assets.alicdn.com/sys/common/icon/rank_s/b_red_5.gif?t=20111027">
                   </div>
                   <div class="review-details">
                   <div class="tb-rev-item " data-id="1079498631322">
                   <div class="J_KgRate_ReviewContent tb-tbcr-content ">
              T恤质量很差，掉色严重，尺码也不标准，宝贝介绍说欧版号偏大，来货以后根本不一样，懒得退货，也不是纯棉，和介绍的根本不是一回事
            </div>
                   <div class="tb-rev-item-media">
            </div>
                    <div class="tb-r-act-bar">
                      <div class="tb-r-info">
                        <span class="tb-r-date">2020年04月01日 18:06</span>颜色：宝蓝色[32s精棉polo]&nbsp;&nbsp;尺码：男款S
                      </div>
                      <ul class="tb-rev-actions">
                        <li class="tb-rev-action">
                          <span class="tb-r-action-btn" title="有 0 人认为此评论有用" data-act="markuseful" data-val="1079498631322">有用</span>
                          <span class="J_KgRate_UsefulNum tb-tbcr-num">(0)</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                 </div>
                </li>
              </ul>
        </div>
      </div>
      <div class="menu-D">
        <div class="b"> 商品细节 </div>
        <div class="c1"><img src="/static/shop/images/pic3.jpg" width="160px" height="180px"></div>
        <div class="c2">女神的新衣 Nana林珍娜伊芙丽2014冬装新款大衣<br />
          <br />
          《女神的新衣》首档明星跨界真人秀，东方卫视每周六晚21：15强档播出！<br />
          <br />
          Nana林珍娜与知名设计师崔范锡搭档，24小时制新衣，节目同步首发，女神体验价：699元！！！</div>
        <div class="c">
          <div class="c3">
            <h1>￥699</h1>
          </div>
          <div class="c4"><a href="">加入购物车</a></div>
        </div>
        <div class="menu-D">
        <div     class="b"> 商品细节 </div>
          <div class="c1"><img src="/static/shop/images/pic2.jpg"  width="160px" height="180px"/></div>
            <div class="c2">斯巴奴 2014秋装新品 男装外套 休闲拼接立领夹克外套男 3051A<br />
              <br />
              ①欧美时尚棒球领型、修身拉链款！<br />
              <br />
              ②35%奢华羊毛触感、撞色拼接面料尽显时尚！ </div>
            <div class="c">
              <div class="c3">
                <h1>￥799</h1>
              </div>
              <div class="c4"><a href="">加入购物车</a></div>
            </div>
        </div>
      </div>
    </div>
 </div>
</div>
  {% include "shop/public/footer.html" %}
  <div class="footer2">
    <p>Copyright &copy; 2014.Company<i> hill may </i> All rights reserved.</p>
  </div>
{% endblock %}