{% extends 'shop/public/header.html' %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>商品列表</title>
<link href="/static/shop/css/shopping.css" rel='stylesheet' type='text/css' />
<link href="/static/shop/css/shoplist.css" rel='stylesheet' type='text/css' />
<link rel="start icon" href="images/resize_png_new.png"  >
</head>

<hr />
 {% block content %}
<!--------content1--------->
<div class="menu">
  <div class="menu-left">
    <div class="menu1">
      <ul>
        <li>
          <h4>商品分类</h4>
        </li>
        <li><a href="">本季流行</a></li>
        <li><a href="">女装</a></li>
        <li><a href="">男装</a></li>
        <li><a href="">今日大牌</a></li>
        <li><a href="">今日最热</a></li>
        <li><a href="">今日折扣</a></li>
        </li>
      </ul>
    </div>
    <div class="menu2">
      <form>
        <h4> 选择你喜欢的风格：</h4>
        <input type="checkbox" name="风格" value="color 1" />
        <a href=""> 清新风格</a><br />
        <input type="checkbox" name="风格" value="color2" />
        <a href=""> 田园风格</a><br />
        <input type="checkbox" name="风格" value="color3" />
        <a href=""> 绅士风格</a><br />
        <input type="checkbox" name="风格" value="color4" />
        <a href=""> 乡村风格</a><br />
        <input type="checkbox" name="风格" value="color5" />
        <a href=""> 淑女风格</a><br />
        <input type="checkbox" name="风格" value="color6" />
        <a href=""> 帅气风格</a><br />
      </form>
    </div>
    <br />
    <div class="menu2">
      <form>
        <h4>选择你喜欢的品牌：</h4>
        <input type="checkbox" name="品牌" value="color 1" />
        <a href=""> CHANEL</a><br />
        <input type="checkbox" name="品牌" value="color2" />
        <a href=""> PARADA</a><br />
        <input type="checkbox" name="品牌" value="color3" />
        <a href=""> GUCCI</a><br />
        <input type="checkbox" name="品牌" value="color4" />
        <a href=""> HERMES</a><br />
        <input type="checkbox" name="品牌" value="color5" />
        <a href=""> Armani</a><br />
        <input type="checkbox" name="品牌" value="color6" />
        <a href=""> Versace</a><br />
      </form>
    </div>
    <br />
    <div class="menu2">
      <form>
        <h4>选择你想要的颜色：</h4>
        <input type="checkbox" name="颜色" value="color 1" />
        明黄色<br />
        <input type="checkbox" name="颜色" value="color2" />
        湖蓝色<br />
        <input type="checkbox" name="颜色" value="color3" />
        浅绿色<br />
        <input type="checkbox" name="颜色" value="color4" />
        大红色<br />
        <input type="checkbox" name="颜色" value="color5" />
        粉红色<br />
        <input type="checkbox" name="颜色" value="color6" />
        橙子色<br />
        <input type="checkbox" name="颜色" value="color6" />
        纯白色色<br />
        <input type="checkbox" name="颜色" value="color6" />
        深黑色<br />
      </form>
    </div>
    <br />
    <div class="menu2">
      <form>
        <h4>选择折扣数：</h4>
        <input type="radio" name="颜色" value="color 1" />
        9折<br />
        <input type="radio" name="颜色" value="color2" />
        8折<br />
        <input type="radio" name="颜色" value="color3" />
        7折<br />
        <input type="radio" name="颜色" value="color4" />
        6折<br />
        <input type="radio" name="颜色" value="color5" />
        5折<br />
        <input type="radio" name="颜色" value="color6" />
        4折<br />
        <input type="radio" name="颜色" value="color6" />
        3折<br />
      </form>
    </div>
  </div>
  <div class="menu-right">
    <div class="menu-top">
      <p>所有商品：47829件
        分类：
        <a href="">流行|</a>
        <a href="">最新|</a>
        <a href="">折扣|</a>
        <a href="">价格从低到高</a>
        </p>
    </div>
    {% for good in details %}
      <div class="picture">
        <a href="/details?id={{good.id}}">
          <img src="{{good.pic}}"  />{{ good.gname }}<br />
          <h5 style="color:#F66">限时优惠￥{{ good.price }}</h5>
          <div class="mask">
            <div class="info">
              <a href="/details?id={{good.id}}"> Quick View</a>
            </div>
          </div>
        </a>
        </div>
    {% endfor %}
    <div class="picture">
      <a href="">
        <img src="/static/shop/images/w1.jpg"  />女神的新衣娜娜同款<br />
        <h5 style="color:#F66">限时优惠￥399</h5>
        <div class="mask">
        <div class="info">Quick View</div>
        </div>
      </a>
    </div>
    <div class="picture"><a href=""><img src="/static/shop/images/w2.jpg" />2014秋季粉色连衣裙<br />
      <h5 style="color:#F66"> 限时优惠￥199</h5>	<div class="mask">
	                        <div class="info">Quick View</div>
			            </div></a>
    </div>
    <div class="picture"><a href=""><img src="/static/shop/images/w3.jpg" />2013秋季黄色针织衫<br />
      <h5 style="color:#F66"> 限时优惠￥299</h5>	<div class="mask">
	                        <div class="info">Quick View</div>
			            </div></a>
    </div>
    <div class="picture"><a href=""><img src="/static/shop/images/w4.jpg" />商务绅士风格白色衬衫<br />
      <h5 style="color:#F66"> 限时优惠￥799</h5>	<div class="mask">
	                        <div class="info">Quick View</div>
			            </div></a>
    </div>
    <div class="picture">
      <a href="">
        <img src="/static/shop/images/w5.jpg" />女神新衣尚雯婕同款<br />
        <h5 style="color:#F66"> 限时优惠￥699</h5>
        <div class="mask">
        <div class="info">Quick View</div>
        </div>
      </a>
    </div>
    <div class="picture">
      <a href="">
        <img src="/static/shop/images/w6.jpg" />女神新衣张馨予同款<br />
        <h5 style="color:#F66"> 限时优惠￥399</h5>
        <div class="mask">
        <div class="info">Quick View</div>
        </div>
      </a>
    </div>
    <div class="picture">
      <a href="">
        <img src="/static/shop/images/w7.jpg" />女神新衣亲子装儿童款<br />
         <h5 style="color:#F66"> 限时优惠￥199</h5>
          <div class="mask">
              <div class="info">Quick View</div>
          </div>
       </a>
    </div>
    <div class="picture"><a href=""><img src="/static/shop/images/w8.jpg"  />时尚五分袖立领短上衣<br />
      <h5 style="color:#F66">限时优惠￥399</h5>	<div class="mask">
	                        <div class="info">Quick View</div>
			            </div></a>
    </div>
    <div class="picture"><a href=""><img src="/static/shop/images/w9.jpg" />2014最新时尚水晶鞋<br />
      <h5 style="color:#F66">限时优惠￥499</h5>	<div class="mask">
	                        <div class="info">Quick View</div>
			            </div></a>
    </div>
    <div class="picture"><a href=""><img src="/static/shop/images/w10.jpg" />伊芙丽中长毛呢外套<br />
      <h5 style="color:#F66">限时优惠￥399</h5>	<div class="mask">
	                        <div class="info">Quick View</div>
			            </div></a>
    </div>
    <div class="picture"><a href=""><img src="/static/shop/images/w11.jpg" />伊芙丽蓝色妮子大衣<br />
      <h5 style="color:#F66"> 限时优惠￥799</h5>	<div class="mask">
	                        <div class="info">Quick View</div>
			            </div></a>
    </div>
    </div>
  </div>
</div>

<br/><br/><br/><br/><br/>
{% include 'shop/public/footer.html' %}
{% endblock %}
